body {
       background-color: #db02;
}

   #titulo {
       color: #3ca00e
       font-size: 50px;
       text-align: center;
}

   texto {
     color: #2fd92f
     font-size: 30px;
     text-align:justify;
   }
